# EDA

In [1]:
import pandas as pd
import numpy as np
import json
from ydata_profiling import ProfileReport
%matplotlib inline

/config/.local/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [25]:
portfolio = pd.read_json('dataset/portfolio.json', orient='records', lines=True)
profile = pd.read_json('dataset/profile.json', orient='records', lines=True)
transcript = pd.read_json('dataset/transcript.json', orient='records', lines=True)

In [26]:
portfolio.rename(columns={'id': 'offer_id'}, inplace=True)

In [27]:
portfolio.sort_values(by='difficulty')

,reward,channels,difficulty,duration,offer_type,offer_id
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [28]:
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [29]:
profile.rename(columns={'id': 'person_id'}, inplace=True)

In [30]:
transcript.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

In [31]:
transcript.rename(columns={'person': 'person_id'}, inplace=True)
transcript['offer_id'] = transcript['value'].apply(lambda x: x.get('offer id'))
transcript.drop(columns=['value'], inplace=True)

In [32]:
transcript['offer_id'].count()

134002

In [37]:
tr_port = transcript.merge(portfolio, on='offer_id')

In [38]:
tr_port['offer_id'].count()

134002

In [39]:
tr_port.head()

,person_id,event,time,offer_id,reward,channels,difficulty,duration,offer_type
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,"[web, email, mobile]",5,7,bogo
1,ebe7ef46ea6f4963a7dd49f501b26779,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,"[web, email, mobile]",5,7,bogo
2,f082d80f0aac47a99173ba8ef8fc1909,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,"[web, email, mobile]",5,7,bogo
3,c0d210398dee4a0895b24444a5fcd1d2,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,"[web, email, mobile]",5,7,bogo
4,57dd18ec5ddc46828afb81ec5977bef2,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,"[web, email, mobile]",5,7,bogo

In [41]:
prof_tr_port = profile.merge(tr_port, on='person_id')

In [42]:
prof_tr_port.head()

,gender,age,person_id,became_member_on,income,event,time,offer_id,reward,channels,difficulty,duration,offer_type
0,None,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN,offer received,336,0b1e1539f2cc45b7b9fa7c272da2e1d7,5,"[web, email]",20,10,discount
1,None,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN,offer viewed,348,0b1e1539f2cc45b7b9fa7c272da2e1d7,5,"[web, email]",20,10,discount
2,None,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN,offer received,168,2906b810c7d4411798c6938adc9daaa5,2,"[web, email, mobile]",10,7,discount
3,None,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN,offer viewed,216,2906b810c7d4411798c6938adc9daaa5,2,"[web, email, mobile]",10,7,discount
4,None,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN,offer received,408,fafdcd668e3743c1bb461111dcafc2a4,2,"[web, email, mobile, social]",10,10,discount

In [43]:
prof_tr_port['offer_id'].count()

134002